<div *ngIf="testing && questions.length>0" class="evaluate-container">
    <mat-card class="evaluate-card" *ngFor="let question of questions; index as i" [class.current]="i===currentIndex">
        <mat-card-header>
            <!-- <div mat-card-avatar class="evaluate-header-image"></div> -->
            <mat-card-title>{{i+1}} {{question.question}} {{countdown}}s</mat-card-title>
            <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-radio-group class="evaluate-radio-group" [(ngModel)]="answers[i].optionIndex">
                <mat-radio-button class="evaluate-radio-button" *ngFor="let option of question.options" [value]="option.optionIndex">
                    {{option.content}}
                </mat-radio-button>
            </mat-radio-group>
        </mat-card-content>

    </mat-card>
</div>
<div *ngIf="!testing" class="evaluate-container">

    <mat-card class="evaluate-card current">
        <mat-card-header>
            <!-- <div mat-card-avatar class="evaluate-header-image"></div> -->
            <mat-card-title>测试结束</mat-card-title>
            <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>

    </mat-card>
</div>