<div class="app-root">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-button title="Docs menu" (click)="drawer.toggle()">
                <span class="mat-button-wrapper">
                    <mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24">
                            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                        </svg>
                    </mat-icon>
                </span>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-drawer-container class="app-container" autosize>
        <mat-drawer #drawer class="app-sidenav" mode="side">
            <mat-list>
                <mat-list-item>
                    <button type="button" mat-button (click)="navToHome()">主页</button>
                    <a routerLink="/home">
                    </a>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button type="button" mat-button (click)="navToQuestions()">试题</button>

                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-drawer>

        <router-outlet></router-outlet>

    </mat-drawer-container>
</div>